.profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: static;
}

    .profile-page__user {
        display: flex;
        flex-direction: column;
        margin: auto 25px;
        text-align: center;
    }

        .profile-page__name {
            color: var(--color-secondary-dark);
            font-size: 33px;
        }

            .profile-page__name-user {
                color: var(--color-title);
            }

        .profile-page__email {
            color: var(--color-title);
            font-size: 22px;
        }

    .tasks {
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 22px;
        border-radius: 20px;
        margin: 35px;
        padding: 40px 65px;
        gap: 20px;
        border: 3px solid var(--color-title);
        background-color: var(--color-background-light);
    }

    .tasks a {
        color: var(--color-title);
        text-decoration: none;
    }

    .profile-page__logout-button-and-delete-user {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 15px;
    }

        .profile-page__delete-user {
            color: var(--color-black-primary);
            font-size: 15px;
            text-decoration: underline;
            font-weight: 700;
        }