.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 25px;
    white-space: nowrap;
    border: none;
    font-size: 17px;
    font-weight: 700;
}

.button:active {
    cursor: progress;
}

.button.primary {
    background-color: var(--color-secondary-light);
    color: var(--color-secondary-dark);
}

.button.primary:hover {
    background-color: var(--color-orange-primary);
    color: var(--color-title);
}

.button.small {
    padding: 0 40px;
}

.button.secondary {
    color: var(--color-primary-light-first);
    background-color: var(--color-secondary-dark);
}

.button.secondary:hover {
    background-color: var(--color-orange-secondary);
}

.button.large {
    padding: 0 50px;
}

.button.disabled {
    background-color: var(--color-disabled);
    color: var(--color-disabled-primary);
    border: 2px solid var(--color-disabled-secondary);
    cursor: not-allowed;
    /* display: none; */
}