.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 25px;
    white-space: nowrap;
    border: none;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
}

.button.primary {
    background-color: rgb(118, 243, 137);
    color: rgb(112, 111, 111);
}

.button.primary:hover {
    background-color: rgb(213, 247, 203);
    color: rgb(117, 121, 117);
}

.button.small {
    padding: 0 40px;
}

.button.secondary {
    background-color: transparent;
}

.button.large {
    padding: 0 50px;
}