.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 25px;
    white-space: nowrap;
    border: none;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
}

.button.primary {
    background-color: rgb(231, 202, 199);
    color: rgb(150, 148, 148);
}

.button.primary:hover {
    background-color: rgb(228, 211, 209);
    color: rgb(247, 244, 241);
}

.button.small {
    padding: 0 40px;
}

.button.secondary {
    background-color: rgb(182, 180, 180);
}

.button.secondary:hover {
    color: rgb(255, 248, 240);
    background-color: rgb(93, 89, 89);
}

.button.large {
    padding: 0 50px;
}