.login-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.login-input {
    height: 60px;
}

.button.login-button {
    margin-top: 20px;
}