.all-todos-page__buttons {
    display: flex;
    justify-content: center;
    margin: 15px;
    gap: 10px;
}

.all-todos-page {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 3fr));
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 20px;
}

    .all-todos-page a {
        text-decoration: none;
    }   

    .back__display-none {
        display: none;
    }