.one-todo-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 15px;
    height: 150px;
    border-radius: 25px;
    border: 3px solid var(--color-title);
    background-color: var(--color-background-light);
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}

        .one-todo-details__title {
            font-size: 28px;
            color: var(--color-title);
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        .one-todo-details__created {
            font-size: 15px;
            white-space: nowrap;
            margin-bottom: 20px;
            color: var(--color-title); 
        }

        .one-todo-details__buttons {
            display: flex;
            flex-direction: row;
            gap: 5px;
            justify-content: center;
        }
        
            .custom-button {
                height: 30px;
                width: 30px;
                color: var(--color-orange-primary) !important;
                border: 2px solid var(--color-title);
                border-radius: 4.5px;
                background-color: var(--color-orange-secondary-light) !important;
                cursor: pointer;
            }

            .custom-button:hover {
                color: var(--color-title) !important;
                background-color: transparent !important;
                border: none !important;
            }