.one-todo-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 150px;
    border-radius: 25px;
    border: 3px solid var(--color-title);
    background-color: var(--color-background-light);
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}

    .one-todo-details__link {
        display: flex;
        flex-direction: column;
        padding: 0 5px 0 5px;
    }

        .one-todo-details__title {
            font-size: 28px;
            color: var(--color-title);
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            margin-bottom: 15px;
            padding: 0 35px 0 25px;
        }

        .one-todo-details__description { 
            font-size: 17px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            color: var(--color-orange-primary-light); 
            padding: 0 20px;
        }

        .x {
            position: absolute;
            margin-left: 200px;
            margin-bottom: 95px;
            background-color: transparent !important;
            cursor: pointer;
            padding: 0 !important;
        }
        
        .one-todo-details__created {
            color: var(--color-title);
            font-size: 15px;
            white-space: nowrap;
        }

        .one-todo-details__buttons {
            display: flex;
            flex-direction: row;
            gap: 5px;
            justify-content: center;
        }
        
            .custom-button {
                height: 30px;
                width: 30px;
                color: var(--color-orange-primary);
                border: 2px solid var(--color-title);
                border-radius: 4.5px;
                background-color: var(--color-orange-secondary-light);
                cursor: pointer;
            }
