.finished-todos-page__title-and-navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.back__display-none {
    display: none;
}

.back-to-profile {
    color: var(--color-orange-primary);
    text-decoration: underline;
    font-size: 25px;
    margin-bottom: 35px;
}

.finished-todos-page {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit,  minmax(220px, 3fr));
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

    .finished-todos-page a {
        text-decoration: none;
    }   
