.one-unfinished-todo-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    gap: 10px;
}

    .one-unfinished-todo-page__title {
        font-size: 20px;
        text-decoration: underline;
        color: var(--color-secondary-light); 
        margin-bottom: 15px;
    }
    
    .one-unfinished-todo-page__first-wrapper {
        display: flex;
        flex-direction: row;
        gap: 60px;
        align-items: center;
    }
    
        .one-unfinished-todo-page__second-wrapper {
            display: flex;
            flex-direction: column;
            gap: 50px;
        }
        
            .custom-btn__finish {
                background-color: transparent !important;
                color: var(--color-orange-secondary) !important; 
                font-size: 50px;
                font-weight: 100;
                border: none !important;
                cursor: pointer;
            }

            .custom-btn__finish:hover {
                color: var(--color-title) !important;
            }
            
        .one-unfinished-todo-page__description {
            font-size: 20px;
            color: var(--color-secondary-light-first);
            border: 3px solid var(--color-title);
            background-color: var(--color-background-light);
            border-radius: 25px;        
            height: 400px;
            overflow: scroll;
            padding: 15px;
            cursor: not-allowed;
            width: 500px;
            text-align: center;
        }

        .one-unfinished-todo-page__description_display-none {
            display: none;
        }

            .one-unfinished-todo-page__description::-webkit-scrollbar {
                display: none;
            }

