.one-finished-todo-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 90%;
    gap: 10px;
}

.one-finished-todo-page__title {
    font-size: 20px;
    text-decoration: underline;
    color: var(--color-secondary-light); 
    margin-bottom: 15px;
}

    .one-finished-todo-page__first-wrapper {
        display: flex;
        flex-direction: row;
        gap: 60px;
        align-items: center;
        width: 90%;
    }

        .one-finished-todo-page__second-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
        }

            .one-finished-todo-page__task-completed {
                font-size: 40px;
                color: var(--color-title);
                text-align: center;
            }

            .one-finished-todo-page__create-task {
                font-size: 40px;
                background-color: transparent !important;
                color: var(--color-orange-secondary) !important; 
                font-weight: 100;
                cursor: pointer;
            }

            .one-finished-todo-page__create-task:hover {
                color: var(--color-title) !important;
            }
         
            .one-finished-todo-page__description {
                display: flex;
                gap: 10px;
                flex-direction: column;
                font-size: 20px;
                color: var(--color-secondary-light-first);
                border: 3px solid var(--color-title);
                background-color: var(--color-background-light);
                border-radius: 25px;        
                height: 400px;
                overflow: scroll;
                padding: 20px;
                cursor: not-allowed;
                width: 500px;
                text-align: center;
            }
    
            .one-finished-todo-page__description_display-none {
                display: none;
            }
    
                .one-finished-todo-page__description::-webkit-scrollbar {
                    display: none;
                }
    
    