.one-finished-todo-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 90%;
    gap: 10px;
}

.one-finished-todo-page__title {
    font-size: 20px;
    text-decoration: underline;
    color: var(--color-secondary-light); 
    margin-bottom: 15px;
}

    .one-finished-todo-page__first-wrapper {
        display: flex;
        flex-direction: row;
        gap: 40px;
        align-items: center;
    }

        .one-finished-todo-page__second-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

            .one-finished-todo-page__task-completed {
                font-size: 43px;
                color: var(--color-orange-primary);
                font-weight: 700;
                white-space: nowrap;
            }
            
            .one-finished-todo-page__created {
                color: var(--color-title);
                font-weight: 700;
            }

            .one-finished-todo-page__return-task {
                color: var(--color-orange-primary);
                font-size: 25px;
                text-decoration: underline;
                margin: 15px 0 10px 0;
            }

            .one-finished-todo-page__create-task,
            .one-finished-todo-page__delete-task {
                font-size: 30px;
                color: var(--color-orange-primary);
            }

            .one-finished-todo-page__create-task-link {
                display: flex;
                align-items: center;
                border-radius: 25px;
                border: none;
                padding: 6px 66px;
                font-size: 17px;
                font-weight: 700;
                color: var(--color-primary-light-first);
                background-color: var(--color-secondary-dark);
            }

            .one-finished-todo-page__create-task-link:hover {
                background-color: var(--color-orange-secondary);
            }

            .one-finished-todo-page__description {
                font-size: 20px;
                color: var(--color-secondary-light-first);
                border: 3px solid var(--color-title);
                background-color: var(--color-background-light);
                border-radius: 25px;        
                height: 400px;
                overflow: scroll;
                padding: 20px;
                cursor: not-allowed;
                width: 500px;
            }
    
            .one-finished-todo-page__description_display-none {
                display: none;
            }
    
                .one-finished-todo-page__description::-webkit-scrollbar {
                    display: none;
                }
    
    