.error-message {
    display: flex;
    align-items: center;
    color: var(--color-red-primary);
    font-weight: 700;
    border: 2px solid var( --color-red-secondary);
    border-radius: 20px;
    height: 40px;
    margin-top: 18px;
    padding: 0 66px;
}