.create-user {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

    .create-user-input {
        height: 60px;
    }

    .create-user__sign-up {
        margin-bottom: 57px;
    }

    .create-user__sign-in {
        color: var(--color-secondary-dark);
        font-size: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .create-user__sign-in a {
            color: var(--color-secondary-light);
            text-decoration: underline;
        }

    .back__display-none {
        display: none;
    }
    