label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
}

    .form-input__field {
        height: 50px;
        border-radius: 20px;
        padding: 0 15px;
        font-size: 22px;
        border: none;
        background-color: var(--color-primary-light-first);
        color: var(--color-primary-light-second);
    }

        .form-input__field::placeholder {
            color: var(--color-secondary-dark);
        }

    .form-input__field__error-span{
        margin-top: 3px;
        color: var(--color-red-primary);
        font-weight: 700;
    }
