.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 25px;
    white-space: nowrap;
    border: none;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
}

.button.primary {
    background-color: black;
    color: white;
}

.button.primary:hover {
    background-color: white;
    color: black;
}

.button.small {
    width: 50px;
    padding: 0 20px;
}

.button.secondary {
    background-color: transparent;
}

.button.large {
    padding: 0 50px;
}