.create-todos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
}

    .back__ {
        color: var(--color-orange-primary);
        font-size: 40px;
    }

    .create-todos__title-input,
    .create-todos__input {
        border: 3px solid var(--color-title);
        background-color: var(--color-background-light);
    }

    .create-todos__input {
        width: 320px;
        height: 200px;
        border-radius: 30px;
        padding: 15px 22px;
        color: var(--color-primary-light);
        overflow: scroll;
        font-size: 22px;
        margin-bottom: 30px;
        display: flex;
        text-align: start;
    }

        .create-todos__input::placeholder {
            color: var(--color-secondary-dark);
        }

        .create-todos__input:focus {
            outline: none;
            border-color: var(--color-primary-light-first);
        }

        .create-todos__input::-webkit-scrollbar {
            display: none; 
        }

    .create-todos__btn {
        margin-top: 40px;
    }