/* .item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 30px;
    width: 70%;
}

.item__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}

.item__border {
    margin-top: 3px;
    border: 2px solid black;
} */