.main-page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 25%;
    left: 25%;
}

    .main-page a {
        font-size: 70px;
        width: 430px;
        white-space: nowrap;
        color: var(--color-orange-secondary); 
    }
    
    .main-page a:hover {
        color: var(--color-title);
    }

    .main-page__my-profile {
        display: none;
    }