.unfinished-todos-page {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 3fr));
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

    .unfinished-todos-page a {
        text-decoration: none;
    }   
